<form method="POST" action="/recipes">
    <label>Name: <input type="text" name="name"></label></br>
    <label>Ingredients: <input type="text" name="ingredients"></label></br>
    <label>Cook Time: <input type="number" name="cook_time"></label></br>
    <input type="submit" value="Submit">

</form>